*{
    margin:0;
    padding:0;
    border:0px;
  }
.logoButton{
    height: 8vh;
    width: 5vw;
    margin-right: 10px;
    display: flex;
    align-items: right;
    text-align: right;	
    padding: 8px 5px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: blue;
    background-color:red;
    border: none;
    border-radius: 20px;
    box-shadow: 0 5px blue; 
}
.reload{
    display: flex;
    align-items: right;
    text-align: right;	
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: blue;
    background-color: red;
    border: none;
    border-radius: 20px;
    box-shadow: 0 5px blue;
}
.reload:hover {
    background-color: rgb(42, 30, 212);
    box-shadow: 0 5px red;
    color: red;
    transform: translateY(4px);
}
#container-imagem {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-image: url("../img/aranhas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}
.titulo_game {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:flex-start;
    font-weight:bold;
    padding: 40px;
    font-size: 50px;
    margin:0px,0px,0px,30px;
    width: 100%;
    height: 70px;
    align-items: center;
}
.questions{
    display: flex;
    flex-flow:row; 
}
.imagem{
    width: 100%;
    height: 100%;
}
header {
    min-height: 60px;
    position: fixed;
    margin-top: 50px;
    border-bottom: 1px solid #ccc;
    z-index: 2;
    padding: 5px;
}
.text{
    color:rgb(42, 30, 212);
    background-color: white;
    font-size: 30px;
    border-radius: 30px;
    width: 30%;
    padding: 5px;
    margin-top: 20px;
    border-radius: 30px;
    box-shadow: 0 5px red;
}

.text:hover {
    background-color: white;
    box-shadow: 0 5px rgb(42, 30, 212);
    color: red;
    transform: translateY(4px);
}

.button {
    padding: 12px 15px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: blue;
    background-color: red;
    border: none;
    border-radius: 150px;
    box-shadow: 0 8px rgb(42, 30, 212);
    align-items: baseline;
    width: 300px;
    height: 300px;
    margin-top: 200px;
    bottom:0;
}
.button:hover {
    background-color: rgb(42, 30, 212);
    box-shadow: 0 5px red;
    color: red;
    transform: translateY(4px);
}
#copy{
    position: fixed;
    bottom:0;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 18px;
    color: #f11313;
    justify-content: center;
    background: black;
    width: 100%;
}
@media screen { 
  
    /* start of screen rules. */ 
    
    /* Generic pane rules */
    body { margin: 0 }
    .row, .col { overflow: hidden; position: absolute; }
    .row { left: 0; right: 0; }
    .col { top: 0; bottom: 0; }
    .scroll-x { overflow-x: auto; }
    .scroll-y { overflow-y: auto; }
  
    .header.row { height: 75px; top: 0; }
    .body.row { top: 75px; bottom: 50px; }
    .footer.row { height: 50px; bottom: 0; }
    
    /* end of screen rules. */ 
}