*{
    margin:0;
    padding:0;
    border:0px;
}
#container-imagem {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-image: url("./img/venceu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.titulo_game {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:flex-start;
    font-weight:bold;
    padding: 40px;
    font-size: 50px;
    margin:0px,0px,0px,30px;
    width: 100%;
    height: 70px;
    align-items: center;
}
.logoButton{
    height: 8vh;
    width: 5vw;
    margin-right: 10px;
    display: flex;
    align-items: right;
    text-align: right;	
    padding: 8px 5px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: blue;
    background-color:red;
    border: none;
    border-radius: 20px;
    box-shadow: 0 5px blue; 
}
.reload{
    display: flex;
    align-items: right;
    text-align: right;	
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: blue;
    background-color: red;
    border: none;
    border-radius: 20px;
    box-shadow: 0 5px blue;
}
.reload:hover {
    background-color: rgb(42, 30, 212);
    box-shadow: 0 5px red;
    color: red;
    transform: translateY(4px);
}
body{
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    width: 100vw;
}
main{
    background: blue;
    border: none;
    border-radius: 15px;
    
}
.buttonEscolha{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;	
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: blue;
    background-color: red;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(42, 30, 212);
}
.buttonEscolha:hover {
    background-color: rgb(42, 30, 212);
    box-shadow: 0 5px red;
    color: red;
    transform: translateY(4px);
}
.questions{
    display: flex;
    justify-content:space-between;
    flex-flow: column wrap;
    padding: 30px 50px;
    margin-top: 35%;
}
.pergunta{
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    color: white;
    font-size: 30px;
}
header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.button{
    color: white;
    float: center;
    font-size: 20px; 
    font-family:helvetica, serif;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin: 5px 5px;
}
#copy{
    position: fixed;
    bottom:0;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 18px;
    color: #f11313;
    justify-content: center;
    background: black;
    width: 100vw;
}
@media screen { 
  
    /* start of screen rules. */ 
    
    /* Generic pane rules */
    body { margin: 0 }
    .row, .col { overflow: hidden; position: absolute; }
    .row { left: 0; right: 0; }
    .col { top: 0; bottom: 0; }
    .scroll-x { overflow-x: auto; }
    .scroll-y { overflow-y: auto; }
  
    .header.row { height: 75px; top: 0; }
    .body.row { top: 75px; bottom: 50px; }
    .footer.row { height: 50px; bottom: 0; }
    
    /* end of screen rules. */ 
  }